[Desktop Entry]
Comment=Free Download Manager
Exec=/tmp/.mount_freedohQ2EXo/usr/bin/fdm --hidden
Hidden=false
Name=FDM
NoDisplay=false
Type=Application
X-GNOME-Autostart-enabled=true
